<div class="container">
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>

  <p>
    <% @faqs.each do |faq| %>
      <p><b><%= faq.question %></b></p>
      <p><%= faq.answer %></p>
      <br>
    <% end %>

  </p>

</div>
