/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 60px;
}


img {
  padding-bottom: 10px
}


#home-page-image{
  height: 250px
}
#home-panel{
  min-height: 100px
}
#footer {
    border-top: thin solid #000000;
    padding-left: 20px;
    background-color: #FFFFFF;
}

#no-bullets {list-style-type: none;}


#task-alert {padding-top: 50px}

tr {
border-top: 1px solid #dddddd;
}
tr:first-child {border-top: none;}

a[disabled] {
  color: #000000
}
.pull-right{border-top: none !important;}

.container-form {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar-right {
margin-right: 20px;
}
.projectshow {
  margin-left: 15px;
}
